<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" />
</head>
<body>


<script src="/js/lib/underscore.js"></script>
<script src="/js/lib/jquery-1.8.3.js"></script>
<script src="/js/lib/backbone.js"></script>
<script src="/js/lib/backbone.marionette.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script data-main="/js/main" src="/js/lib/require.js"></script>
</body>
</html>